* {
    box-sizing: border-box;
}

body {
    background-color: skyblue;
    color: #404040;
    font-family: arial, sans-serif;
}

.container {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}

section {
    background-color: skyblue;
    border: 2px dotted azure;
    padding: 0.5rem;
    width: 32%;
}

ul {
    list-style-type: none;
}

li {
    background-color: azure;
    margin: 0.4rem 0;
    padding: 0.33rem;
    margin-left: -2.4rem;
}